{% extends 'base.html' %}

{% block title %}Liste des Utilisateurs{% endblock %}

{% block content %}
    <h2>Liste des Utilisateurs</h2>
    <table>
        <thead>
            <tr>
                <th>Nom d'utilisateur</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Statut actif</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>{% if user.is_active %}Actif{% else %}Inactif{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
    